{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="col-6 mx-auto mt-3">
        <div class="card-deck">
            <div class="card bg-transparent text-white">
                <img src="{% static 'img/about-img.png' %}" class="card-img-top" alt="Images">
                <div class="card-body">
                    <h5 class="card-title">Images</h5>
                    <p class="card-text">Images created w/ Freepik Stories</p>
                    <a class='btn btn-light stretched-link' target="_blank" href="https://stories.freepik.com/">See it here</a>
                </div>
            </div>
            <!--  -->
            <div class="card bg-transparent text-white">
                <img src="{% static 'img/about-chart.png' %}" class="card-img-top" alt="Charts">
                <div class="card-body">
                    <h5 class="card-title">Charts</h5>
                    <p class="card-text">Charts created w/ Chartjs</p>
                    <a class='btn btn-light stretched-link' target="_blank" href="https://www.chartjs.org/">See it here</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    