<!DOCTYPE html>
{% load static %}
{% load menu %}
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DeepLab - Appointer</title>
    <link rel="shortcut icon" href="{% static 'img/favicon-white.ico' %}">
    <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/146fe99a3a.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>
    {% block pagescript %}{% endblock %}
</head>
<body class="dl-body d-flex flex-column h-100">
    <main role="main" class='flex-shrink-0 mb-3'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand">
                <img src="{% static 'img/favicon-white.png' %}" alt="DeepLab">    
                Appointer
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% create_menu request.path user.is_authenticated %}
            </div>
        </nav>
        <!-- Messages block -->
        {% if messages %}
            <div aria-live="polite" aria-atomic="true" style="position: relative; z-index: 10000;">
                <div class="mt-3 mr-3" style="position: absolute; top: 0; right: 0;">
                    {% for m in messages %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
                            <div class="toast-header bg-{{ m.tags }}">
                                <strong class="mr-auto">{{ m.tags|title }}</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <p class="m-0">{{ m }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block body %}{% endblock %}
    </main>
    <footer class="bg-dark mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    {% for social in social_media_links %}
                        <a href="{{ social.url }}" class="text-white {% if not forloop.last %} mr-3 {% endif %}"><i class="{{ social.icon }}"></i></a>
                    {% endfor %}
                </div>
                <div class="col-12 text-center text-white">
                    <p>
                        Developed by 
                        <a href="{{ main_site.url }}" target="_blank" class="text-white">{{ main_site.alt_text }}</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>