{% extends "base.html" %}
{% load static %}
{% block pagescript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var ctx = $("#progressChart");
            if(ctx !== undefined){
                var raw = JSON.parse(ctx.data('content').replace(/'/g, "\"").replace(/False/g, "0").replace(/True/g, "1"));
                var dataset = [];
                var chartData = [];
                var chartLabels = [];
                raw.activities.forEach(activity => {
                    chartLabels = [];
                    chartData = [];
                    activity.appoints.forEach(week=>{
                        week.forEach(day =>{
                            if(day.used === 1){
                                chartLabels.push(day.day);
                                chartData.push(parseInt(day.timespentint));
                            }
                        });
                    });
                    dataset.push({
                        label: activity.name,
                        data: chartData,
                        fill: false,
                        borderColor: activity.color
                    });
                });

                Chart.defaults.global.defaultFontColor = 'white';
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: chartLabels,
                        datasets: dataset
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
{% block body %}
    <div class="container mt-3">
    {% if user.is_authenticated %}
        <div class="d-flex flex-column flex-lg-row justify-content-center text-white">
            {% if user.get_open_activities > 0 %}
                <div>
                    <h6 class="display-4">Activities in progress</h6>
                    <div class="btn-group-vertical mt-2" role='group' aria-label="activities">
                        {% for act in user.activities.all %}
                            {% if act.get_open_appointments.count > 0 %}
                                <a href="{% url 'activity:activity_details' act.id %}" class="btn btn-primary">
                                    <i class="fas fa-share"></i>
                                    {{ act.name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div>
                <h3 class='display-4'>Activities progress (in seconds)</h3>
                <canvas id="progressChart" data-content="{{ chartData }}"></canvas>
            </div>
        </div>
    {% else %}
        <div class="text-white d-flex flex-md-row flex-column-reverse justify-content-md-between">
            <div class="align-self-md-center">
                <h6 class="display-4">Time Management</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam inventore iusto, voluptate odit est odio. In ab officia, dicta architecto rem dolore doloribus eum? Saepe sequi nemo odit dolore fugit.</p>
            </div>
            <div>
                <img class="img-fluid" src="{% static 'img/tm.png' %}" alt="Time management">
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}