{% extends "base.html" %}
{% block body %}
{% load widget_tweaks %}
    <div class="text-center mx-auto align-items-center">
        <i class="fas fa-users fa-5x text-white mt-3 bg-primary rounded-circle p-4"></i>
        <form method="POST" class="text-white p-4">    
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="d-flex flex-row justify-content-center mb-3 text-center col-md-6 col-10 mx-auto">
                    <div class="d-flex text-white bg-danger p-3 align-items-center" style="border-radius: 25px 0px 0px 25px">
                        <span class="fas fa-skull-crossbones fa-2x text-white"></span>
                    </div>
                    <div class="d-flex align-items-center alert-danger" style="border-radius: 0px 25px 25px 0px">
                        {% for e in form.non_field_errors %}
                            <p class="m-0 p-3">{{ e }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% for f in form %}
                <div class="form-row form-group d-flex align-items-center text-center">
                    <div class="col-md-6 col-10 mx-auto input-group">
                        <span class="input-group-prepend">
                            <div class="input-group-text bg-white pl-4 pr-3" style="border-radius: 25px 0px 0px 25px">
                                {% if f.label == 'Username' %}
                                    <i class="fas fa-user"></i>
                                {% else %}
                                    <i class="fas fa-lock"></i>
                                {% endif %}
                            </div>
                        </span>
                        {% render_field f class="form-control form-control-lg" placeholder=f.label style="border-radius: 0px 25px 25px 0px"%}
                    </div>
                </div>
                {{ f.errors }}
            {% endfor %}
            <div class="col-md-6 col-10 mx-auto text-right">
                <a href="{% url 'core:reset_password' %}" class="text-decoration-none text-primary">Forgot password?</a>
            </div>
            <br>
            <button type='submit' class="btn btn-lg btn-primary px-5 rounded-pill">Login</button>
        </form>
        <p class="text-white">Or</p>
        <a href="#" class="btn btn-lg btn-primary">
            <i class="fab fa-facebook-f mr-3"></i>
            Continue with Facebook
        </a>
    </div>
{% endblock %}