<ul class="navbar-nav">
    {% for menu in menus %}
        {% if menu.link == absolutepath %}
            <li class="nav-item active">
                <a href="{{ menu.link }}" class="nav-link">
                    {{ menu.title }} <span class="sr-only">(current)</span>
                </a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ menu.link }}" class="nav-link">{{ menu.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>