{% load widget_tweaks %}
<!-- modal form -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFormLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='{{ method }}' action='#' id='{{ id }}'>
                {% csrf_token %}
                <div class="modal-body">
                    {% for f in form %}
                        <div class="row">
                            <div class="col-2">{{ f.label_tag }}</div>
                            <div class="col-10">{{ f|add_class:'form-control' }}</div>
                        </div>                                
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>