{% load widget_tweaks %}
<!-- modal confirm -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmLabel">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    {% if ajax %}
                        <button type="submit" class="btn btn-success" name='btnYesConfirm'>Yes</button>
                    {% else %}
                        <a href="#" class="btn btn-success" name='btnYesConfirm'>Yes</a>
                    {% endif %}
                </div>
        </div>
    </div>
</div>