{% if page_obj.paginator.num_pages != 1 %}    
    <nav aria-label="Pagination" class="pagination-outer mt-3">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a href="?page=1" class="page-link" aria-label="First">&laquo;</a>
            </li>
            {% for pn in page_obj.paginator.page_range %}
                <li class="page-item {% if pn == page_obj.number %}active{% endif %}">
                    <a href="?page={{ pn }}" class="page-link" {% if pn == page_obj.number %}aria-current="page"{% endif %}>
                        <p>{{ pn }}</p>
                        {% if pn == page_obj.number %}
                            <span class="sr-only">(current)</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            <li class="page-item">
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" aria-label="Last">&raquo;</a>
            </li>
        </ul>
    </nav>
{% endif %}