{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}
    <div class="text-center mx-auto align-items-center">
        <h3 class="text-white m-0 mt-3">Informe o email para envio da requisição</h3>
        <form method='POST' class="p-4 pt-0">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-row form-group d-flex align-items-center text-center col-md-6 col-10 mx-auto">
                    {% render_field f class="form-control form-control-lg" placeholder=f.label %}
                </div>
                {{ f.errors }}
            {% endfor %}
            <button type="submit" class="btn btn-light btn-lg px-5 rounded-pill">Continuar</button>
        </form>
    </div>
{% endblock body %}
    