{% extends "base.html" %}
{% block pagescript %}
<script type="text/javascript">
    $(document).ready(function(){
        var form = $('#actForm');
        var modal = $('#modalForm');
        var modal_confirm = $('#modalConfirm');

        modal.on('hidden.bs.modal', function(e){
            form.trigger('reset');
        });

        modal.on('show.bs.modal', function(e){
            if(!$(e.relatedTarget).data('actid')){
                form.attr('action', '/activities/new');
                $('#modalFormLabel').text('New '+$('#modalFormLabel').text());
            } else {
                $('#modalFormLabel').text('Edit '+$('#modalFormLabel').text());
                form.attr('action','/activities/'+$(e.relatedTarget).data('actid'));
                $('input[name="name"]').val($(e.relatedTarget).data('name').trim());
                $('input[name="color"]').val($(e.relatedTarget).data('color').trim());
            }
        });

        modal_confirm.on('show.bs.modal', function(e){
            $('strong[name="confActName"]').text($(e.relatedTarget).data('name').trim());
            if($(e.relatedTarget).data('href')){
                $('a[name="btnYesConfirm"]').attr('href', $(e.relatedTarget).data('href'));
            }
        });
    });
</script>
{% endblock %}
{% block body %}
{% load modals %}
{% load pagination %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 mt-5">
                <div class="text-white">
                    <h5 class="lead">My activities</h5>
                    <div>
                        {% for act in page_obj %}
                            {% if forloop.first %}
                                <div class="table-responsive">
                                    <table class="table table-dark m-0" id='actList'>
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Name</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                            {% endif %}
                                <tr name='act{{ act.id }}'>
                                    <th scope="row">
                                        <p>
                                            {{ forloop.counter}}
                                        </p>
                                    </th>
                                    <td name='name'>
                                        <p>
                                            {{ act.name }}
                                            {% if act.get_open_appointments.first.has_open_break %}
                                                <span class="badge badge-pill badge-danger">Paused</span>
                                            {% elif act.get_open_appointments %}
                                                <span class="badge badge-pill badge-info">In progress</span>
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td class='text-right'>
                                        <a href="{% url 'activity:activity_details' act.id %}" class="btn btn-primary mr-md-2">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button type='button' class="btn btn-warning mr-2 d-none d-md-inline" data-toggle="modal" data-target="#modalForm" data-actid='{{ act.id }}' data-color='{{ act.color }}' data-name="{{ act.name }}">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger d-none d-md-inline" data-toggle="modal" data-target="#modalConfirm" data-name="{{ act.name }}" data-href="{% url 'activity:delete_activity' act.id %}">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% if forloop.last %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="text-center">
                                <h5 class='p-2'>No activities found!</h5>
                            </div>
                        {% endfor %} 
                        {% create_pagination page_obj %}
                    </div>
                    <div class="text-right mt-2">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalForm">
                            <i class="fa fa-plus-circle"></i>
                            New activity
                        </button>
                    </div> 
                </div>
            </div>              
        </div>
        {% create_modal_form "Activity" form  "POST" "actForm" %}
        {% create_modal_confirm "Delete activity" "<p>Do you really wish to delete the activity <strong name='confActName'></strong></p>" False %}
    </div>
{% endblock %}