{% extends "base.html" %}
{% block pagescript %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var ctx = $("#progressChart");
        var raw = JSON.parse(ctx.data('appoints').replace(/'/g, "\"").replace(/False/g, "0").replace(/True/g, "1"));
        var chartData = [];
        var chartLabels = [];
        raw.weeks.forEach(week => {
            week.forEach(day =>{
                if(day.used === 1){
                    chartLabels.push(day.day);
                    chartData.push(parseInt(day.timespentint));
                }
            })
        });
        Chart.defaults.global.defaultFontColor = 'white';
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartLabels,
                datasets: [{
                    label: 'Appointed time/day (in seconds)',
                    data: chartData,
                    fill: false,
                    borderColor: raw.color
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>
{% endblock %}
{% load humanize %}
{% block body %}
    <div class="container pb-5">
        <!-- Act name + appoints view btn -->
        <div class="d-flex justify-content-between text-white mt-3">
            <h3 class="display-4">
                Activity: {{ activity.name }}
                {% if activity.get_open_appointments.first.has_open_break %}
                    <span class="badge badge-pill badge-info">Paused</span>
                {% endif %}
            </h3>
            {% if activity.appointments.count > 0 %}
            <a href="{% url 'activity:view_appoints' activity.id %}" class="btn btn-success d-flex align-items-center rounded-circle px-4 py-4 py-md-0">
                <i class="fas fa-list-ul fa-lg"></i>
            </a>
            {% endif %}
        </div>
        <!-- Appoints today -->
        <div class="text-white">
            <h3 class='lead'>{% now "F jS, Y" %}</h3>
            <p id='TotalAppoints'>Appointments: {{ activity.appointments_today.count }}</p>
            <p>
                Total appointed time: {{ activity.total_appointed_time }}
            </p>
            {% if not activity.get_open_appointments %}
                <a href="{% url 'activity:new_appoint' activity.id %}" class="btn btn-success" data-actid='{{ activity.id }}' id='newAppoint'>
                    <i class="far fa-clock"></i>
                    New appointment
                </a>
            {% endif %}
            {% if activity.get_open_appointments %}
                <div id="openAppoint">
                    <h3>Open appointment</h3>
                    <p>Started at: {{ activity.get_open_appointments.first.starttime|time:"H:i:s" }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'activity:take_break' activity.id %}" class="btn btn-warning" {% if activity.get_open_appointments.first.has_open_break %} style='display:none;' {% endif %} id='takeBreak'>
                            <i class="fa fa-stopwatch"></i>
                            Take break
                        </a>
                        <a href="{% url 'activity:resume_break' activity.id %}" class="btn btn-warning" {% if not activity.get_open_appointments.first.has_open_break %} style='display:none;' {% endif %} id='resumeBreak'>
                            <i class="fa fa-history"></i>
                            Resume break
                        </a>
                        <a href="{% url 'activity:close_appoint' activity.id %}" class="btn btn-warning" id='endAppoint'>
                            <i class="fa fa-check-circle"></i>
                            End appointment
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- Monthly overview -->
        <div class="mt-3 text-white text-center">
            <h3 class="display-4">Monthly overview</h3>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-between mt-3 text-white">
            <div>
                <h3 class="lead">Appointed days</h3>
                <div class='table-responsive'>
                    <table class='table m-0 table-bordered text-white'>
                        <thead class="thead-dark border border-white">
                            <tr>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                                <th>Sun</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for week in monthlyApp.weeks %}
                                <tr>
                                    {% for day in week %}
                                        <td class="{% if day.totalappointments > 0 %} bg-success {% endif %} p-0">
                                            <span>    
                                                <div class='h-50 d-flex justify-content-between p-2'>
                                                {% if day.day != 0 %}
                                                    <small class="p-0">{{ day.day }}</small>
                                                    {% if day.totalappointments > 0 %}
                                                        <i class="fa fa-check"></i>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                            </span>
                                        </td>
                                    {% endfor %}    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card bg-transparent border-0">
                <div class="card-body p-0">
                    <h3 class="lead">Progression chart</h3>
                    <canvas class="h-100" id="progressChart" data-appoints="{{ monthlyApp }}"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    