{% extends "base.html" %}
{% block pagescript %}
<script type="text/javascript">
    $(document).ready(function(){
        var form = $('#appForm');
        var modal = $('#modalForm');

        modal.on('hidden.bs.modal', function(e){
            form.trigger('reset');
        });

        modal.on('show.bs.modal', function(e){
            form.attr("action", $(e.relatedTarget).data('url').trim());
            $('input[name="starttime"]').val($(e.relatedTarget).data('starttime').trim());
            $('input[name="timeend"]').val($(e.relatedTarget).data('timeend').trim());
        });
    });
</script>
{% endblock %}
{% load pagination %}
{% load modals %}
{% block body %}
    <div class="container mt-3">
        <h3 class="display-4 text-white">Appoints for {{ act.name }} - {% now "F" %}</h3>
        {% for app in page_obj %}
            {% if forloop.first %}
                <div>
                    <div class="table-responsive">
                        <table class="table table-dark m-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Start date</th>
                                    <th scope="col">End date</th>
                                    <th scope="col">Breaks taken</th>
                                    <th scope="col">Total time</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
            {% endif %}
                <tr>
                    <th scope="row">
                        <p>
                            {{ forloop.counter}}
                        </p>
                    </th>
                    <td>{{ app.starttime|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ app.timeend|date:"d/m/Y H:i:s"|default:"Open" }}</td>
                    <td>{{ app.breaks.count }}</td>
                    <td>{{ app.totaltime }}</td>
                    <td class='text-right'>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalForm" data-starttime='{{ app.starttime|date:"Y-m-d H:i:s" }}' data-timeend='{{ app.timeend|date:"Y-m-d H:i:s" }}' data-url='{% url "activity:edit_appoint" act.id app.id %}'>
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                </tr>
            {% if forloop.last %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% empty %}
        {% endfor %}
        {% create_pagination page_obj %}
        </div>
        {% create_modal_form "Edit appointment" form  "POST" "appForm" %}
    </div>
{% endblock %}
    