$enable-responsive-font-sizes: true;
@import "bs/bootstrap";

// custom elements

.dl-body{
    background-color: rgba(0,0,0,0.6);
}

div.dl-alpha{
    background-color: black;
    opacity: 0.6;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.pagination-outer{ 
    text-align: center; 
}

.pagination{
    font-family: 'Kodchasan', sans-serif;
    border-radius: 40px;
    border: 2px solid rgb(75, 0, 161);
    overflow: hidden;
    display: inline-flex;
    position: relative;

    @media only screen and (max-width: 480px){
        padding: 10px 0;
        margin: 0;
        display: block;
    }

    li{

        @media only screen and (max-width: 480px){
            display: inline-block;
        }

        a.page-link{
            color: #fff;
            background-color: transparent;
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            line-height: 43px;
            height: 45px;
            width: 55px;
            padding: 0;
            border: none;
            border-radius: 0;
            position: relative;
            z-index: 1;

            &:hover{
                color: #fff;
                background: transparent;
                border: none;
                &:after{
                    border-radius: 0;
                    transform: skewX(-16deg) scale(1);
                    @media only screen and (max-width: 480px){
                        border-radius: 20px;
                        transform: skew(0) scale(1);
                    }
                }
            }

            &:before, &:after{
                content: '';
                height: 100%;
                width: 100%;
                border: 1px solid #000;
                border-top: none;
                border-bottom: none;
                transform: skewX(-16deg);
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                transition: all 0.3s;
            }
            &:before{
                @media only screen and (max-width: 480px){
                    display: none; 
                }
            }
            &:after{
                background-color: rgb(75, 0, 161);
                border: none;
                border-radius: 50%;
                transform: skewX(-16deg) scale(0);
                @media only screen and (max-width: 480px){
                    transform: skew(0) scale(0);
                }
            }
        }

        &:first-child{
            a.page-link{
                &:before{
                    display: none;
                }
                &:after{
                    left: -1px;
                }
            }
        }

        &:last-child{
            a.page-link{
                &:before{
                    display: none;
                }
                &:after{
                    left: auto;
                    right: -1px;
                }
            }
        }
        
        &.active{
            a.page-link{
                color: #fff;
                background: transparent;
                border: none;
                &:hover{
                    color: #fff;
                    background: transparent;
                    border: none;
                    &:after{
                        border-radius: 0;
                        transform: skewX(-16deg) scale(1);
                        @media only screen and (max-width: 480px){
                            border-radius: 20px;
                            transform: skew(0) scale(1);
                        }   
                    }
                }
                &:after{
                    border-radius: 0;
                    transform: skewX(-16deg) scale(1);
                    @media only screen and (max-width: 480px){
                        border-radius: 20px;
                        transform: skew(0) scale(1);
                    }
                }
            }
        }
    }
}